@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  background: #edf4f2;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 10px;
}
